{
	"global": {
		"AppVersion": "1.1",
		"CacheDuration": 5,
		"StaticDemo": false
	}, 
	"env:development": {
		"Parse": {
			"ApplicationId": "",
			"RestKey": ""
		},
		"Mailgun": {
			"Domain": "",
			"RestKey": ""
		}
	}, 
	"env:test": {
		"Parse": {
			"ApplicationId": "",
			"RestKey": ""
		},
		"Mailgun": {
			"Domain": "",
			"RestKey": ""
		}
	}, 
	"env:production": {
		"Parse": {
			"ApplicationId": "",
			"RestKey": ""
		},
		"Mailgun": {
			"Domain": "",
			"RestKey": ""
		}
	}, 
	"os:android": {
		"Font": {
			"Light": "Roboto-Light",
			"Regular": "Roboto-Regular",
			"Medium": "Roboto-Medium",
			"Bold": "Roboto-Bold"
		}
	},
	"os:ios": {
		"Font": {
			"Light": "HelveticaNeue-Light",
			"Regular": "HelveticaNeue-Regular",
			"Medium": "HelveticaNeue-Medium",
			"Bold": "HelveticaNeue-Bold"
		}
	},
	"os:blackberry": {},
	"os:mobileweb": {},
	"dependencies": {}
}