<Alloy>
	<NavigationWindow id="SettingsWindow" platform="ios" formFactor="handheld">
		<Window title="Settings">
			<RightNavButton>
				<Button title="Done" onClick="closeWindow" />
			</RightNavButton>
			
			<TableView id="Table" />
		</Window>
	</NavigationWindow>
	
	<Window id="SettingsWindow" title="Settings" platform="ios" formFactor="tablet">
		<TableView id="Table" />
	</Window>
	
	<Window id="SettingsWindow" title="Settings" platform="android">
		<ActionBar displayHomeAsUp="true" onHomeIconItemSelected="closeWindow" />

		<TableView id="Table" />
	</Window>
</Alloy>